@{
    ViewData["Title"] = "Accounts";
}

<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row zero-margin">
            <div class="col s10 m6 l6">
                <ol class="breadcrumbs">
                    <li class="active">Accounts</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div style="clear:both; margin-top:55px;"></div>