@{
    ViewData["Title"] = "Accounts";
}

<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row zero-margin">
            <div class="col s10 m6 l6">
                <ol class="breadcrumbs">
                    <li class="active">Accounts</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div style="clear:both; margin-top:55px;"></div>

<div class="modules row">
    <div class="card card-border z-depth-2 col m6 l3 zero-padding" style="width:24.25%">
        <div class="card-image">
            <a href="/accounts/users"><img src="/images/modules/users.png" alt=""></a>
        </div>
        <div class="card-content center-align">
            <a class="blue-text" href="/accounts/users">User Management</a>
        </div>
    </div>

    <div class="card card-border z-depth-2 col m6 l3 zero-padding" style="margin-left:1%; width:24.25%">
        <div class="card-image">
            <a href="/accounts/stations"><img src="/images/modules/stations.png" alt=""></a>
        </div>
        <div class="card-content center-align">
            <a class="blue-text" href="/accounts/stations">Stations Manager</a>
        </div>
    </div>

    <div class="card card-border z-depth-2 col m6 l3 zero-padding" style="margin-left:1%;width:24.25%">
        <div class="card-image">
            <a href="/accounts/configurations"><img src="/images/modules/config.png" alt=""></a>
        </div>
        <div class="card-content center-align">
            <a class="blue-text" href="/accounts/configurations">System Configurations</a>
        </div>
    </div>

    <div class="card card-border z-depth-2 col m6 l3 zero-padding" style="margin-left:1%;width:24.25%">
        <div class="card-image">
            <a href="/accounts/audit"><img src="/images/modules/audit.png" alt=""></a>
        </div>
        <div class="card-content center-align">
            <a class="blue-text" href="/accounts/audit">Audit Logs</a>
        </div>
    </div>
</div>