@{
    ViewData["Title"] = "Tools";
}


<div class="row" style="margin-top:30px;">
    <div class="col-md-3">
        <h2>Pending Push</h2>
        <ul>
            <li>
                <i class="material-icons tiny red-text">close</i>
                <span><a class="blue-text" href="/tools/CRRuntime_32bit_13_0_24.msi">Crystal Reports</a>, <small>13.0.0.24</small></span>
            </li>
        </ul>
    </div>
</div>